body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 10px;
        }
        input, button {
            font-family: 'Roboto', sans-serif;
            padding: 10px;
            border: none;
            border-radius: 4px;
            margin: 5px;
        }
        button {
            cursor: pointer;
        }
        button:hover {
            opacity: 0.8;
        }
        .account-item {
            font-size: 1.4em; /* Slightly larger font size for list items */
            padding: 12px; /* Increased padding for a better look */
            margin-bottom: 12px; /* Adjust spacing between items */
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
        .otp-display, .toggle-otp-btn {
            cursor: pointer;
            font-weight: bold; 
        }
        .otp-display:hover, .copy-btn:hover, .toggle-otp-btn:hover {
            text-decoration: underline;
        }
        .loader {
            border: 4px solid #f3f3f3;
            border-radius: 50%;
            border-top: 4px solid #3498db;
            width: 20px;
            height: 20px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            display: inline-block;
            display: none;
            margin: 0 auto; 
        }
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        /* Light theme (default) */
        :root {
            --background-color: #FAFAFA;
            --text-color: #212121;
            --button-bg-color: #2196F3;
            --button-text-color: white;
            --account-bg-color: #FFFFFF;
        }

        body {
            background-color: var(--background-color);
            color: var(--text-color);
        }
        button {
            background-color: var(--button-bg-color);
            color: var(--button-text-color);
        }
        .account-item {
            background-color: var(--account-bg-color);
        }
        #tokenForm 
        {
            width: 300px;
        }
        #pinSetupForm 
        {
            width: 300px;
        }
        .pin-entry-form h2 {
            text-align: center;
            color: black;
            margin-bottom: 20px;
            width: 300px;
        }
        /* Dark theme */
        @media (prefers-color-scheme: dark) {
            :root {
                --background-color: #121212;
                --text-color: #E0E0E0;
                --button-bg-color: #0D47A1;
                --button-text-color: white;
                --account-bg-color: #1E1E1E;
            }

            body {
                background-color: var(--background-color);
                color: var(--text-color);
            }
            button {
                background-color: var(--button-bg-color);
                color: var(--button-text-color);
            }
            .account-item {
                background-color: var(--account-bg-color);
            }
            .pin-entry-form h2 {
            text-align: center;
            color: white;
            margin-bottom: 20px;
            }
        }
        #controlsContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        #searchContainer {
            flex-grow: 1; /* Makes the search container take up available space */
        }

        #searchInput {
            width: 100%; /* Makes the input take up all the width of its container */
            box-sizing: border-box; /* Ensures padding and border are included in the width */
        }

        #logOutButton {
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            font-size: 1.2em;
            color: var(--button-text-color); /* Assuming you are using CSS variables for theming */
        }

        #logOutButton:hover {
            color: var(--button-hover-color); /* Define this color in your theme */
        }
        #copyConfirmation {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #4CAF50; /* A pleasant green background */
            color: white; /* White text for readability */
            padding: 8px 16px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.25); /* Slight shadow for depth */
            font-size: 1em; /* Adequate font size for readability */
            font-family: 'Roboto', sans-serif; /* Consistent font-family */
            text-align: center; /* Centered text */
            z-index: 1000; /* Ensures it's above other elements */
            animation: fadeinout 4s; /* Animation for fade in and out */
            font-size: 1.4em; /* Larger font size */
            font-weight: bold; /* Making text bold for better visibility */
            padding: 10px 20px; /* Adjust padding for larger text */
        }
        #showErrorMessage {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: red; /* A pleasant green background */
            color: white; /* White text for readability */
            padding: 8px 16px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.25); /* Slight shadow for depth */
            font-size: 1em; /* Adequate font size for readability */
            font-family: 'Roboto', sans-serif; /* Consistent font-family */
            text-align: center; /* Centered text */
            z-index: 1000; /* Ensures it's above other elements */
            animation: fadeinout 4s; /* Animation for fade in and out */
            font-size: 1em; /* Larger font size */
            font-weight: bold; /* Making text bold for better visibility */
            padding: 10px 20px; /* Adjust padding for larger text */
        }
        /* Keyframes for the fade-in-out animation */
        @keyframes fadeinout {
            0%, 100% { opacity: 0; }
            10%, 90% { opacity: 1; }
        }
        #logOutButton {
            padding: 10px 15px; /* Larger padding for a bigger button */
            font-size: 1.1em; /* Slightly larger font size */
            border-radius: 5px; /* Adjusted border-radius for aesthetics */
            background-color: #f44336; /* Optional: a distinct color for the log out button */
            color: white;
            cursor: pointer;
            border: none;
            margin-left: 10px; /* Spacing between the log out button and other elements */
        }

        #logOutButton:hover {
            background-color: #d32f2f; /* Darker shade on hover for visual feedback */
        }
        .progress {
            width: 100%;
            background-color: #f0f0f0; /* Background color of the progress bar container */
            height: 20px; /* Height of the progress bar */
            margin-bottom: 10px; /* Spacing between the progress bar and other elements */
            position: relative;
        }

        .progress-bar {
            width: 100%; /* Initial width of the progress bar */
            height: 100%;
            text-align: center;
            background-color: #4CAF50; /* Color of the progress bar */
            transition: width 1s linear; /* Smooth transition for width changes */
        }
        #countdownLabel {
            display: block;
            position: absolute;
            color: #121212;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            max-width: 265px;
        }

        .btn-primary {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
        .highlight {
            border: 2px solid red; /* Example style */
        }
        .error-message {
            color: red; /* Example color */
            margin-top: 10px;
        }
        .pin-entry-container {
            max-width: 300px;
            margin: auto;
            padding: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        

        .btn-primary {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .error-message {
            color: red;
            text-align: center;
            margin-bottom: 10px;
        }

        .reset-pin {
            text-align: center;
            margin-top: 10px;
        }

        .reset-pin a {
            color: #007bff;
            text-decoration: none;
        }

        .reset-pin a:hover {
            text-decoration: underline;
        }
